html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom:0px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -20px; /* negative value of footer height */
    height: 20px;
    clear: both;
    padding-top: 20px;
} 

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

textarea {
    width: 100%;
}